$primary: #2200cd
$light: #dee2e6 // $gray-300
$enable-rounded: true

// Bootstrap and its default variables
// @import '~bootstrap/scss/bootstrap'
@import 'node_modules/bootstrap/scss/bootstrap.scss'
@import 'node_modules/bootstrap-vue/src/index.scss'
// Tabulator
@import '~tabulator-tables/src/scss/bootstrap/tabulator_bootstrap4.scss'    

#app
  margin: 0
  padding: 0
  width: 100vw
  min-height: 100vh
  position: relative
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  color: black