$primary: #2200cd
$light: #dee2e6 // $gray-300
$enable-rounded: true

// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap'

// Tabulator
@import '~tabulator-tables/src/scss/bootstrap/tabulator_bootstrap4.scss'    

html, body, #app
  margin: 0
  padding: 0
  width: 100vw
  min-height: 100vh
  position: relative

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  color: black