$primary: red

// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap'
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss'

html, body, #app
  margin: 0
  padding: 0
  width: 100vw
  min-height: 100vh

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  color: black